---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.intro {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.profile-img {
  width: 260px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .intro {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .profile-img {
    width: 80%;
  }
}